name: Check Version

on:
  # schedule:
  #   - cron: '0 * * * *' 
  workflow_dispatch:

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get latest release
        id: get_release
        uses: octokit/request-action@v2.x
        with:
          route: GET /repos/zen-browser/desktop/releases/latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Extract version
        id: extract_version
        run: |
          target_version=$(echo '${{ steps.get_release.outputs.data }}' | jq -r .tag_name)
          echo "target_version=$target_version"
          echo "target_version=$target_version" >> $GITHUB_OUTPUT

      - name: Read version from flake.nix
        id: read_version
        run: |
          # Extract version from the file
          file_version=$(grep -oP '(?<=version = ")([^"]+)' flake.nix)
          echo "file_version=$file_version"
          echo "file_version=$file_version" >> $GITHUB_OUTPUT

      - name: Compare with specified version
        id: compare_versions
        run: |          
          if [ "$file_version" != "$target_version" ]; then
            echo "versions_differ=true" >> $GITHUB_OUTPUT
          else
            echo "versions_differ=false" >> $GITHUB_OUTPUT

      - name: Run job if versions differ
        if: env.versions_differ == 'true'
        run: echo "Versions are different! Proceeding with the job..."
